<div class="mt-4">
    <form method="POST">
        <div class="mb-3">
            <label class="form-label">Type something</label>
            <input type="text" name="q" class="form-control" id="exampleInputEmail1">
        </div>

        <div class="mb-3">
            <label class="form-label">Type something</label>
            <select name="gender" class="form-control" id="exampleInputEmail1">
                <option value="">Choose your gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>